<html>
    <head>
        <title>Address Registration</title>
    </head>
    <body>
        <div>
            <h1>Address Registration</h1>
            <form action = "" method="POST">
                {% csrf_token %}
                <label for = "address_1">Address1</label><br>
                {{form.address_1}}<br>
                <label for = "address_2">Address2</label><br>
                {{form.address_2}}<br>
                <label for = "city">City</label><br>
                {{form.city}}<br>
                <label for = "state">State</label><br>
                {{form.state}}<br>

                <input type = "submit" value="create">



            </form>
        </div>
    </body>
</html>